body::after {
   background: rgba(255, 127, 0, 0.03);
}

.computer-screen-horizontal-edges::before, .computer-screen-horizontal-edges::after, .computer-screen-vertical-edges::before, .computer-screen-vertical-edges::after {
   box-shadow: inset 0 0 15px rgba(255, 127, 0, 0.1);
}

.computer-screen {
   color: #FFA500;
   text-shadow: 0 0 5px #FFA500, 0 0 10px #FFA500, 0 0 10px #FFA500;
   box-shadow: inset 0 0 35px rgba(255, 127, 0, 0.1), 0 0 30px rgba(255, 127, 0, 0.2);
   background: repeating-linear-gradient(to bottom, rgba(255, 127, 0, 0.05) 3px, rgba(255, 127, 0, 0.08) 3px, transparent 6px, transparent 0px);
}

.input-caret {
   background-color: #ffa500;
   box-shadow: 0 0 5px #FFA500, 0 0 10px #FFA500;
}

.user-input {
   color: #FFA500;
   text-shadow: 0 0 5px #FFA500, 0 0 10px #FFA500, 0 0 10px #FFA500;
}

.user-input::selection {
   background-color: #ffa50075;
}