body::after {
   background: rgba(0, 255, 255, 0.03);
}

.computer-screen-horizontal-edges::before, .computer-screen-horizontal-edges::after, .computer-screen-vertical-edges::before, .computer-screen-vertical-edges::after {
   box-shadow: inset 0 0 15px rgba(0, 255, 255, 0.1);
}

.computer-screen {
   color: #00FFFF;
   text-shadow: 0 0 5px #00FFFF, 0 0 10px #00FFFF, 0 0 10px #00FFFF;
   box-shadow: inset 0 0 35px rgba(0, 255, 255, 0.1), 0 0 30px rgba(0, 255, 255, 0.2);
   background: repeating-linear-gradient(to bottom, rgba(0, 255, 255, 0.05) 3px, rgba(0, 255, 255, 0.08) 3px, transparent 6px, transparent 0px);
}

.input-caret {
   background-color: #00FFFF;
   box-shadow: 0 0 5px #00FFFF, 0 0 10px #00FFFF;
}

.user-input {
   color: #00FFFF;
   text-shadow: 0 0 5px #00FFFF, 0 0 10px #00FFFF, 0 0 10px #00FFFF;
}

.user-input::selection {
   background-color: #00FFFF75;
}