.computer-container {
   width: 500px;
   height: 350px;
   padding: 25px 35px;
   border-radius: 2px;
   background-color: hsl(300, 2%, 12%);
   z-index: 10;
   transition: 0.5s;
   transform: translateX(-38px);
}

/* computer screen horizontal edges */

.computer-screen-horizontal-edges {
   width: 100%;
   height: 100%;
   position: relative;
}

.computer-screen-horizontal-edges::before, .computer-screen-horizontal-edges::after, .computer-screen-vertical-edges::before, .computer-screen-vertical-edges::after, .computer-screen-inner-horizontal-edges::before, .computer-screen-inner-horizontal-edges::after, .computer-screen-inner-vertical-edges::before, .computer-screen-inner-vertical-edges::after {
   content: "";
   position: absolute;
}

.computer-screen-horizontal-edges::before, .computer-screen-horizontal-edges::after {
   width: 20px;
   height: 100%;
   top: 0;
   background-color: hsl(330, 2%, 14%);
}

.computer-screen-horizontal-edges::before {
   left: -20px;
   border-radius: 100% 0 0 100%;
   border-left: 2px solid hsl(330, 2%, 20%);
}

.computer-screen-horizontal-edges::after {
   right: -20px;
   border-radius: 0 100% 100% 0;
   border-right: 2px solid hsl(330, 2%, 20%);
}

/* computer screen vertical edges */

.computer-screen-vertical-edges {
   width: calc(100% + 20px);
   height: 100%;
   position: absolute;
   top: 0;
   left: 50%;
   transform: translate(-50%, 0);
   z-index: 1;
}

.computer-screen-vertical-edges::before, .computer-screen-vertical-edges::after {
   width: 100%;
   height: 25px;
   left: 0;
}

.computer-screen-vertical-edges::before {
   top: -12px;
   border-radius: 100% 100% 0 0;
   border-top: 2px solid hsl(330, 2%, 20%);
   background-color: hsl(330, 2%, 13%);
}

.computer-screen-vertical-edges::after {
   bottom: -11.5px;
   border-radius: 0 0 100% 100%;
   background-color: hsl(330, 2%, 15%);
}

/* computer screen inner horizontal edges */

.computer-screen-inner-horizontal-edges {
   width: calc(90% + 20px);
   height: calc(100% - 20px);
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: black;
   z-index: 2;
}

.computer-screen-inner-horizontal-edges::before, .computer-screen-inner-horizontal-edges::after, .computer-screen-inner-vertical-edges::before, .computer-screen-inner-vertical-edges::after {
   background-color: black;
   z-index: 1;
}

.computer-screen-inner-horizontal-edges::before, .computer-screen-inner-horizontal-edges::after {
   width: 20px;
   height: 100%;
   top: 0;
}

.computer-screen-inner-horizontal-edges::before {
   left: -19px;
   border-radius: 100% 0 0 100%;
   border-left: 2px solid hsl(330, 2%, 18%);
}

.computer-screen-inner-horizontal-edges::after {
   right: -19px;
   border-radius: 0 100% 100% 0;
   border-right: 2px solid hsl(330, 2%, 18%);
}

/* computer screen inner vertical edges */

.computer-screen-inner-vertical-edges {
   width: calc(100% - 5px);
   height: calc(100% - 20px);
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 1;
}

.computer-screen-inner-vertical-edges::before, .computer-screen-inner-vertical-edges::after {
   width: 100%;
   height: 25px;
   left: 0;
}

.computer-screen-inner-vertical-edges::before {
   top: -12px;
   border-radius: 100% 100% 0 0;
   border-top: 2px solid hsl(330, 2%, 18%);
}

.computer-screen-inner-vertical-edges::after {
   bottom: -12px;
   border-radius: 0 0 100% 100%;
   border-bottom: 2px solid hsl(330, 2%, 18%);
}

/* computer screen */

.computer-screen {
   width: calc(95% + 15px);
   height: calc(90% + 5px);
   padding: 5px;
   font-family: "Terminal Font";
   font-size: 12px;
   top: 50%;
   left: 50%;
   border-radius: 5px;
   position: relative;
   transform: translate(-50%, -50%);
   overflow-y: auto;
   z-index: 3;
   cursor: text;
}

.computer-screen::-webkit-scrollbar {
   display: none;
}

.vertical-roll-wrapper {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   padding: 12px 3px;
   z-index: 2;
}

.vertical-roll-inner  {
   width: 100%;
   height: 100%;
   border-radius: 5px;
   overflow: hidden;
   position: relative;
}

.vertical-roll {
   width: 100%;
   height: 50px;
   position: absolute;
   bottom: 100%;
   left: 0;
   background: linear-gradient(to bottom, #ffffff01 30%, #ffffff03 60%);
}

.computer-screen p {
   overflow-wrap: break-word;
   white-space: pre-wrap;
   margin-bottom: 10px;
}

.route-name {
   font-size: 10px;
   text-align: center;
}

.input-caret {
   display: inline-block;
   width: 6px;
   height: 10px;
   animation: blink 1s infinite steps(1);
   position: absolute;
   top: 0;
   left: 0;
   z-index: 20;
}

/* computer screen input */

.input-wrapper {
   display: inline;
   position: relative;
   border: 1px solid transparent;
}

.user-input {
   max-width: 100%;
   display: inline;
   word-break: break-all;
   outline: 0;
   caret-color: transparent;
   background-color: transparent;
}

/* walkthrough paper */

.walkthrough-paper {
   max-width: 350px;
   min-height: 200px;
   display: flex;
   padding: 3px 0 0 15px;
   transform-style: preserve-3d;
}

.paper-piece-1, .paper-piece-2, .paper-piece-3, .paper-piece-4 {
   width: 50%;
   height: 50%;
   position: absolute;
   background-color: #F0E6D2;
}

.paper-piece-1 {
   top: 0;
   left: 0;
   transform-origin: bottom;
}

.paper-piece-2 {
   top: 0;
   right: 0;
   transform-origin: bottom;
}

.paper-piece-3 {
   bottom: 0;
   left: 0;
   transform-origin: right;
   z-index: 1;
   cursor: pointer;
}

.paper-piece-4 {
   bottom: 0;
   right: 0;
}

.paper-piece-1::before, .paper-piece-3::before {
   content: "";
   width: 15px;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   background: radial-gradient(circle, #000 35%, transparent 40%) 0 0;
   background-size: 100% 9%;
   background-repeat: repeat-y;
}

.paper-text {
   width: 100%;
   padding: 0 10px 10px 3px;
   font-family: sans-serif;
   z-index: 10;
   transition: 1s;
   pointer-events: none;
}

.paper-text p {
   font-size: 7px;
   padding: 5px 0 0 0;
   border-bottom: 1px solid rgba(128, 128, 128, 30%);
}

.paper-text .paper-title {
   font-size: 8px;
   font-weight: 600;
}

.paper-text .paper-subtitle, .paper-text span {
   font-weight: 600;
}

.paper-text .paper-code {
   padding: 1px 3px 0;
   border-radius: 3px;
   background-color: #0a2c1b;
}

.paper-code .code-purple {
   color: #a7a8f8;
}

.paper-code .code-light-blue {
   color: #9de1fc;
}

.paper-code .code-blue {
   color: #86b1f7;
}

.paper-code .code-light-green {
   color: #8febdd;
}

.paper-code .code-green {
   color: #9ECE56;
}

.paper-code .code-orange {
   color: #F16A37;
}

/* walkthrough paper hide animations */

.walkthrough-paper.hidePaperAnimation {
   animation: hidePaper 1s 1.5s forwards;
}

.paper-piece-1.hidePaperAnimation, .paper-piece-2.hidePaperAnimation {
   animation: foldVertical 1s 0.5s forwards;
}

.paper-piece-3.hidePaperAnimation {
   animation: foldHorizontal 1s 1s forwards;
}

.paper-text.hidePaperAnimation {
   animation: hidePaperText 0.5s forwards;
}

/* walkthrough paper hidden elements */

.walkthrough-paper.hiddenPaper {
   transform: translate(240px, -125px) rotateZ(45deg);
}

.paper-piece-1.hiddenPaper, .paper-piece-2.hiddenPaper {
   transform: perspective(1000px) rotateX(-180deg);
   opacity: 0;
}

.paper-piece-3.hiddenPaper {
   transform: perspective(1000px) rotateY(180deg);
}

.paper-text.hiddenPaper {
   opacity: 0;
}

/* walkthrough paper show animations */

.walkthrough-paper.showPaperAnimation {
   animation: showPaper 1s 0.5s forwards;
}

.paper-piece-1.showPaperAnimation, .paper-piece-2.showPaperAnimation {
   animation: unfoldVertical 1s 1.5s forwards;
}

.paper-piece-3.showPaperAnimation {
   animation: unfoldHorizontal 1s 1s forwards;
}

.paper-text.showPaperAnimation {
   animation: showPaperText 0.5s 3s forwards;
}